<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  <h1>Add ${type}</h1>
  <form action="/add/${type}" method="POST">
     
    <p> Title: <input name="title"/></p>
    <p> Note: <input name="note"/></p>
    <p> Url: <input name="url"/></p>
    
    #if ($type == "book")
    <p> Author: <input name="author"/></p>
    <p> ISBN: <input name="isbn"/></p>
    
    #elseif ($type == "podcast")
    <p> Author: <input name="author"/></p>
    <p> Description: <input name="description"/></p>
    #end

    <input type="submit" value="Add"/>
  </form>
  
  <form action="/" method="GET">
      <input type="submit" value="Return"/>
  </form>