<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  <h1>Add ${type}</h1>
  <form action="/" method="GET">
     
    <p> Title: <input name="title"></input></p>
    <p> Type: <input name="type"></input></p>
    
    #if ($type == "book")
    <p> Writer: <input name="writer"></input></p>
    <p> ISBN: <input name="isbn"/></p>
    #elseif ($type == "audio/video")
    <p> TestField1: <input name="testfield1"/></p>
    <p> TestField2: <input name="testfield2"/></p>
    #end
    <input type="submit" value="Add"/>
  </form>
  
  <form action="/" method="GET">
      <input type="submit" value="Return"/>
  </form>