<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  #if ($tipAdded)
    <Strong>Tip added succesfully</Strong>
  #end
  #if ($editedTip)
    <Strong>Tip edited succesfully</Strong>
  #end
  
  <h2>Adding a new tip</h2>
  <form action="/add" method="GET">
      <select name="tipTypes">
          <option value="book">Book</option>
          <option value="video">Video</option>
          <option value="podcast">Podcast</option>
          <option value="blogpost">Blogpost</option>
      </select>
      <br/>
      <input type="submit" value="Show form"/>
  </form>
  
  <br/>
  
  <h1>Reading tips</h1>

  <form action="/" method="GET">
    <select name="typesToShow">
        <option value="All">All</option>
        <option value="Book">Book</option>
        <option value="Video">Video</option>
        <option value="Podcast">Podcast</option>
        <option value="Blogpost">Blogpost</option>
    </select>
    <br/>
    <input type="submit" value="Show tips"/>
</form>
    <ul>
        #foreach ( $tip in $tips )
          <br/>
          <li> Id: $tip.id</li>
          <li> Type: $tip.type</li>
          <li> Title : $tip.title</li>
          #if($tip.note != "")
            <li> Note: $tip.note</li>
          #end
          #if ($tip.type == "Book")
            #if($tip.author != "")
              <li> Author: $tip.author</li>
            #end
            #if($tip.isbn != "")
              <li> ISBN: $tip.isbn</li>
            #end  
            #if($tip.url != "")
            <li> URL:<a href="$tip.url">$tip.url</a></li>
            #end
          #elseif ($tip.type == "Podcast")
            #if($tip.author != "")
              <li> Author: $tip.author</li>
            #end  
            #if($tip.description != "")
              <li> Description: $tip.description</li>
            #end
            #if($tip.url != "")
            <li> URL:<a href="$tip.url">$tip.url</a></li>
            #end
          #elseif ($tip.type == "Blogpost")
            #if($tip.url != "")
            <li> URL:<a href="$tip.url">$tip.url</a></li>
            #end
          #elseif ($tip.type == "Video")
            #if($tip.url != "")
              <li> URL:<a href="$tip.url">$tip.url</a></li>
            #end
          #end
          <form action="/tips/$tip.id" method="GET">
            <input type="submit" value="Open" /></form>
          <br/>
        #end
    </ul>