<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>

<head>
  <title>Index</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <!-- lomake tipseille -->
  #if ($tipAdded)
    <Strong>Tip added succesfully</Strong>
  #end
  <h2>Add a new tip</h2>
  <form action="/" method="POST">
    <p> Author: <input name="author"></input></p>
    <p> Title: <input name="title"></input></p>
    <p> URL: <input name="url"></input></p>
    <input type="submit" value="Add"></input>
  </form>
</body>

</html>