<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  #if ($tipAdded)
    <Strong>Tip added succesfully</Strong>
  #end
  
  <h2>Adding a new tip</h2>
  <form action="/add" method="GET">
      <select name="tipTypes">
          <option value="book">Book</option>
          <option value="video">Video</option>
          <option value="podcast">Podcast</option>
          <option value="blogpost">Blogpost</option>
      </select>
      <br/>
      <input type="submit" value="Show form"/>
  </form>
  
  <br/>
  
  <h1>Reading tips</h1>
    <ul>
        #foreach ( $tip in $tips )
          <br/>
          <li> Id: $tip.id</li>
          <li> Type: $tip.type</li>
          <li> Title : $tip.title</li>
          <li> Note: $tip.note</li>
          
          #if ($tip.type == "Book")
            <li> Author: $tip.author</li>
            <li> ISBN: $tip.isbn</li>
          #elseif ($tip.type == "Podcast")
            <li> Author: $tip.author</li>
            <li> Description: $tip.description</li>
            <li> URL: $tip.url</li>
          #elseif ($tip.type == "Blogpost")
            <li> URL: $tip.url</li>
          #elseif ($tip.type == "Video")
            <li> URL: $tip.url</li>
          #end
          <form action="/tips/$tip.id" method="GET">
            <input type="submit" value="Open" /></form>
          <br/>
        #end
    </ul>